<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT-DGP Section-B Chat Group</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="nav">
        <div class="hadding">
            <h1>Real Time Chat App</h1>
        </div>
    </nav>
    <section class="chat-section">
        <div class="message-area">
            {{!-- <div class="left mbox">
                <h4>name</h4>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="right mbox">
                <h4>name</h4>
                <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="center">Lorem, ipsum.</div>
            <div class="right mbox">
                <h4>name</h4>
                <p>Lorem ipsum dolor sit.</p>
            </div> --}}
             
            
        </div>
        
        

    </section>
    <article>
        <div class="typearea">
            <input id="textarea" type="text" placeholder="Write a message..."></input>
            <button type="submit" id="btn">Send</button>
        </div>
    </article>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
</body>

</html>